<div id="<%= dom_id property %>">
  <h2>
  Name:
    <%= property.name %>
  </h2>

  <p>
    <strong>Average Rating:</strong>
    <%= property.average_rating %> / 5
  </p>

  <p>Sleeps: <%= property.capacity %>

  <%= image_tag property.image %>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= property.user.first_name %> <%= property.user.last_name %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= property.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= property.lon %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= property.country %>
  </p>

  <p>
    <strong>Per night:</strong>
    £<%= property.base_price %>
  </p>

  <p>
    <strong>Cleaning Fee:</strong>
    £<%= property.cleaning_fee %>
  </p>

  <h3>Rooms</h3>
  <% property.facilities.where(is_room: true).each do |room| %>
    <i class="fa-solid fa-<%= room.icon %>"></i>
    <%= room.title %>
    <%= room.capacity %>
  <% end %>

  <h3>Amenities</h3>
  <% property.facilities.where(is_room: false).each do |amenity| %>
    <i class="fa-solid fa-<%= amenity.icon %>"></i>
    <%= amenity.title %>
    <%= amenity.capacity %>
  <% end %>

  <h3>Reviews</h3>
  <% property.reviews.limit(5).each do |review| %>
    <p><%= review.overall_rating %> / 5</p>
    <p><%= review.body %></p>
    <p>– <%= review.user.first_name %> <%= review.user.last_name[0, 1] %></p>
  <% end %>

</div>
