<div id="<%= dom_id property %>">
  <p>
    <h2>Name:</h2>
    <%= property.name %>
  </p>

  <p>Sleeps: <%= property.capacity %>

  <%= image_tag property.image %>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= property.user.email %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= property.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= property.lon %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= property.status %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= property.country %>
  </p>

  <h3>Rooms</h3>
  <% property.facilities.where(is_room: true).each do |room| %>
    <i class="fa-solid fa-<%= room.icon %>"></i>
    <%= room.title %>
    <%= room.capacity %>
  <% end %>

  <h3>Amenities</h3>
  <% property.facilities.where(is_room: false).each do |amenity| %>
    <i class="fa-solid fa-<%= amenity.icon %>"></i>
    <%= amenity.title %>
    <%= amenity.capacity %>
  <% end %>

</div>
