<p class="mb-6 text-4xl font-bold text-slate-500">Where evil geniuses book their breaks</p>

<div id="properties" class="grid grid-cols-4 gap-4">
  <% @properties.each do |property| %>
    <% if property.available?(params[:sd], params[:ed]) %>
      <div class="relative">
        <% if(!property.bookmarked?(current_user.id, property.id)) %>
          <%= form_with model: [property, property.bookmarks.build], method: :post, class:"absolute w-full" do |form| %>
            <%= button_tag(type: 'submit') do %>
              <i class="fa-solid fa-heart text-2xl text-black opacity-20 absolute top-4 right-4"></i>
              <i class="fa-regular fa-heart text-2xl text-white absolute top-4 right-4"></i>
            <% end %>
          <% end %>
        <% else %>

          <%= form_for 'property_bookmark', method: :post, class:"absolute w-full" do |f| %>
            <%= hidden_field_tag '_method', 'delete' %>
            <%= button_tag(type: 'submit') do %>
              <i class="fa-solid fa-heart text-2xl text-white opacity-100 absolute top-4 right-4"></i>
              <i class="fa-regular fa-heart text-2xl text-white absolute top-4 right-4"></i>
            <% end %>
          <% end %>
        <% end %>

        <%= link_to property, class:"" do %>
          <%= image_tag property.image, class:"rounded-lg mb-4" %>
        <% end %>
        <div class="flex justify-between items-center">
          <h1 class="font-bold"><%= link_to property.name, url_for(controller: "properties", action: "show", id: property.id, sd: params[:sd], ed: params[:ed]) %></h1>

          <% if property.reviews.count > 0 %>
            <p class="flex items-center"><i class="fa-solid fa-star text-xs mr-1"></i> <%= property.average_rating %></p> 
          <% end %>
        </div>
        <% if params[:sd] && params[:ed] %>
          <p class="text-sm text-slate-400">£<%= number_with_precision(property.total_cost(params[:sd], params[:ed]), :precision => 2, :delimiter => ',') %></p>
        <% else %>
          <p class="text-sm text-slate-400">£<%= number_with_precision(property.base_price, :precision => 2, :delimiter => ',') %> per night</p>
        <% end %>
        
      </div>
      
    <% end %>
  <% end %>

</div>
