<%= form_with model: [ @property, @property.facilities.build ] do |form| %>
    <!-- need to add error messaging back in -->

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :icon, style: "display: block" %>
    <%= form.text_field :icon %>
  </div>

  <div>
    <%= form.label :is_room, "Is this a room?", style: "display: block" %>
    <%= form.check_box :is_room %>
  </div>

  <div>
    <%= form.label :capacity, style: "display: block" %>
    <%= form.number_field :capacity %>
  </div>

<div>
    <%= form.submit %>
  </div>


<% end %>