<div id="<%= dom_id review %>">
  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>Cleanliness rating:</strong>
    <%= review.cleanliness_rating %>
  </p>

  <p>
    <strong>Host rating:</strong>
    <%= review.host_rating %>
  </p>

  <p>
    <strong>Location rating:</strong>
    <%= review.location_rating %>
  </p>

  <p>
    <strong>Check in rating:</strong>
    <%= review.check_in_rating %>
  </p>

  <p>
    <strong>Value rating:</strong>
    <%= review.value_rating %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

</div>
