<!DOCTYPE html>
<html>
  <head>
    <title>LairBnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 

    <%= javascript_importmap_tags %>
    
    <script src="https://kit.fontawesome.com/5f669c3761.js" crossorigin="anonymous"></script>
  </head>

  <body class="">

    <header class="w-full border-b-2 border-b-slate-300 py-2">
    <h1 class="text-blue-400"><%= link_to("LairBnB", root_path) %></h1>
    
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
      <% else %>
        <li><%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
    </ul>
  </header>

  <% if notice %>
  <div>
    <%= notice %>
  <div>
  <% end %>

    <%= yield %>
  </body>
</html>
